<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Design</title>
		<link rel="stylesheet" th:href="@{/styles.css}">
		<link rel="stylesheet" th:href="@{/bootstrap-5.3.2-dist/css/bootstrap.min.css}">
	</head>
	<body>
		<h1>PE</h1>
		<form method="post" th:object="${lesson}">

			<div class="container text-left">
				<div class="row" th:each="ex : ${low}">
					<div class="col">
						<input th:field="*{exercises}" type="checkbox" th:value="${ex.id}">
					</div>
					<div class="col" th:text="${ex.name}">
						Column
					</div>
					<div class="col" th:text="${ex.diff}">
						Column
					</div>
				</div>
				<div class="row" th:each="ex : ${medium}">
					<div class="col">
						<input th:field="*{exercises}" type="checkbox" th:value="${ex.id}">
					</div>
					<div class="col" th:text="${ex.name}">
						Column
					</div>
					<div class="col" th:text="${ex.diff}">
						Column
					</div>
				</div>
				<div class="row" th:each="ex : ${high}">
					<div class="col">
						<input th:field="*{exercises}" type="checkbox" th:value="${ex.id}">
					</div>
					<div class="col" th:text="${ex.name}">
						Column
					</div>
					<div class="col" th:text="${ex.diff}">
						Column
					</div>
				</div>
			</div>
			
<!--			<table>
				<tr th:each="ex : ${low}">
					<td><input th:field="*{exercises}" type="checkbox" th:value="${ex.id}"></td>
					<td th:text="${ex.name}"></td>
					<td th:text="${ex.diff}"></td>
				</tr>
				<tr th:each="ex : ${medium}">
					<td><input th:field="*{exercises}" type="checkbox" th:value="${ex.id}"></td>
					<td th:text="${ex.name}"></td>
					<td th:text="${ex.diff}"></td>
				</tr>
				<tr th:each="ex : ${high}">
					<td><input th:field="*{exercises}" type="checkbox" th:value="${ex.id}"></td>
					<td th:text="${ex.name}"></td>
					<td th:text="${ex.diff}"></td>
				</tr>
			</table>

			<div th:each="ex : ${low}">
				<input th:field="*{exercises}" type="checkbox" th:value="${ex.id}">
				<span th:text="${ex.name}">text</span>: 
				<span th:text="${ex.diff}">text</span><br>
			</div>
			<hr>
			<div th:each="ex : ${medium}">
				<input th:field="*{exercises}" type="checkbox" th:value="${ex.id}">
				<span th:text="${ex.name}">text</span>: 
				<span th:text="${ex.diff}">text</span><br>
			</div>
			<hr>
			<div th:each="ex : ${high}">
				<input th:field="*{exercises}" type="checkbox" th:value="${ex.id}">
				<span th:text="${ex.name}">text</span>: 
				<span th:text="${ex.diff}">text</span><br>
			</div>
			<hr>
			<div th:text="${string}">exercise name</div>
-->

			<div>
				<!--<label for="name">Lesson name:</label>-->
				<span>Lesson name:</span>
				<input type="text" th:field="${lesson.name}">
				<span style="color: red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error</span>
				<button>Submit</button>
			</div>
		</form>
		<script th:src="@{/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>
